span{
    color: black;
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

p{
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid;
    background-color: lightgray;
    width: 10em;
}
